<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<img th:if="${personalcolor == 'Oblong'}" src="img/oblong.jpg" alt="Image Description" style="width:150px; height:100%;">-->
<!--<img th:if="${personalcolor == 'Round'}" src="img/round.jpg" alt="Image Description" style="width:150px; height:100%;">-->
<!--<img th:if="${personalcolor == 'Square'}" src="img/square.jpg" alt="Image Description" style="width:150px; height:100%;">-->
<!--<p style="position: absolute; top: 0; left: 0; right: 0; background: rgba(255, 255, 255, 0.8); width:150px;">-->
<strong>이름:</strong> <span th:text="${aa}">Personal Color</span>
<strong>이름:</strong> <span th:text="${bb}">Personal Color</span>
<strong>이름:</strong> <span th:text="${cc}">Personal Color</span>
<strong>이름:</strong> <span th:text="${dd}">Personal Color</span>

</body>
</html>